*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.header{
    text-align: center;
    font-weight: 700;
    color: rgb(18, 137, 227);
    margin-bottom: 100px;
}
.container{
    margin: 0 auto;
    padding: 20px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 80%;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    .btn-next{
        float: right;
        background-color: transparent;
        border: 2px solid black;
        outline: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    .loading{
        background-color: none;
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 50px;
        height: 50px;
        animation: spin 500ms linear infinite;
    }
    .text{
        font-size: 30px;
        font-weight: 500;
        margin-left: 10px;
        user-select: none;
        color: rgb(56, 51, 51);
    }
    .input{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 500;
        width: 100%;
        resize : none;
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
        outline: none;
    }
}

.correct{
    color: rgb(40, 184, 15);
}
.incorrect{
    color: red;
    text-decoration: underline;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}